@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&display=swap');


.alumni-sans-pinstripe-regular {
  font-family: "Alumni Sans Pinstripe", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.alumni-sans-pinstripe-regular-italic {
  font-family: "Alumni Sans Pinstripe", sans-serif;
  font-weight: 400;
  font-style: italic;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Alumni Sans Pinstripe", sans-serif;
  color: #222;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

.scroll_forbidden {
  height: 100vh;
  overflow: hidden;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input,
fieldset,
textarea {
  border: none;
  outline: none;
}

textarea {
  resize: none;
}

.flex {
  display: flex;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.flex-1 {
  flex: 1 1 0%;
}
.centered {
  justify-content: center;
  align-items: center;
}
.between {
  justify-content: space-between;
}

.centered-align {
  align-items: center;
}
.start-align {
  align-items: flex-start;
}
.end-align {
  align-items: flex-end;
}
.w100 {
  width: 100%;
}

.clickable {
  cursor: pointer;
}

.round {
  border-radius: 50%;
}
.relative {
  position: relative;
}
.debug {
  border: 1px solid red;
}
.gap4 {
  gap: 4px;
}
.gap5 {
  gap: 5px;
}
.gap8 {
  gap: 8px;
}
.gap10 {
  gap: 10px;
}
.gap12 {
  gap: 12px;
}
.gap16 {
  gap: 16px;
}
.gap15 {
  gap: 15px;
}
.gap20 {
  gap: 20px;
}
.gap24 {
  gap: 24px;
}
.gap30 {
  gap: 30px;
}
.gap32 {
  gap: 32px;
}
.gap40 {
  gap: 40px;
}